body{
  margin: 0 ;
  font-family: 'Cookie', cursive;
  font-family: 'Inconsolata', monospace;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.71429;
}
header{
  width: 100%;
  height: 97px;
  position: fixed;
  background-color: white;
  top: 0;
}
header>#top{
  height: 27px;
  margin-top: 17px;
  margin-left: 137px;
}
header>#top>a{
  color: black;
  padding: 15px;
  left: 180px;
}
a{
  color: #373B47;
  text-decoration: none;
}
header>#top>img,a:hover {
  color: #E95853;
  cursor: pointer;
}
#top>img{
  width: 60px;
  height: 60px;
  left: 670px;
  top: 0px;
  position: relative;
  vertical-align: middle;
}
#home{
  text-align: center;
  color: white;
  width: 100%;
  height: 519px;
  font-style: normal;
  left: 92px;
  background: url("../assets/images/bg-home.jpg");
  background-repeat: no-repeat;
  margin-top: 97px;
}
#home>h2{
  padding-top: 90px;
}
#home>h1{
  font-size: 290%;
  padding: 10px;
  margin-bottom: 0;

}
#home>p{
  padding-bottom: 70px;
  margin-top: 0;
}
#home>a{
  color: white;
  padding: 10px;
  background-color: #2ECC71;
}
h2{
  margin-top: 0;
}
#pink{
  background-color: #F17C72;
  color: white;
  text-align: center;
  width: 100%;
  top:0px;
}
#pink>h2{
  padding-top: 70px;
}
div#pink>div#imagenes{
  width: 100%;
}
div#pink>div#imagenes>section{
  display: inline-block;
  width: 300px;
  height: 500px;
}
div#pink>div#imagenes>section>img{
  padding: 7px;
  margin-top: 80px;
  width: 200px;
  height: 200px;
  margin-bottom: 40px;
}
h6.small{
  margin: 0px;
}
#work{
  padding-top: 50px;
  text-align: center;
  top: 1300px;
}
#work>img{
  left: 15px;
  width: 930px;
  height: 910px;
}
#work>h1,h4{
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
div#images_work{
  width: 100%;
}
section.container{
  display: inline-block;
  text-align: center;
  margin: 20px;
}
section.container>img{
  width: 300px;
  height: 300px;
  margin-left: 60px;
}
.text-uppercase {
  text-transform: uppercase;
}
footer{
  width: 100%;
  height: 69px;
  background-color: #373B47;
  color: white;
  padding-top: 10px;
  text-align: center;
  }
